	<footer class="footer">
		<div class="container">
			<div class="footer-contact">
				<ul>
					<li>Phone: <a href="tel:46700838975">+46700838975</a></li>
					<li>Email: <a href="mailto:doggos@gmail.com">bank@gmail.com</a></li>
					<li>Address: 11366 Stockholm, Anna Whitlocks street 16</li>
				</ul>
				<ul class="social">
					<li>
						<a href="https://facebook.com">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a>
					</li>
					<li>
						<a href="https://instagram.com">
							<i class="fa fa-instagram" aria-hidden="true"></i>
						</a>
					</li>
					<li>
						<a href="https://linkedin.com">
							<i class="fa fa-linkedin-square" aria-hidden="true"></i>
						</a>
					</li>
				</ul>
			</div>
			<p>© Bank 2022</p>
		</div>		
	</footer>
</body>
</html>