<header class="header">
	<div class="container">
		<nav class="nav">
			<div class="logo">
				<a href="/">
					logo
				</a>
			</div>
		<ul class="main-menu">
			<li><a href="/">Home</a></li>
			<li><a href="/api/accounts">My Accounts</a></li>
			<li><a href="/api/register">Registration</a></li>
		</ul>
	</nav>
	</div>

</header>