<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<section class="hero__wrap">
	<div class="container">
		<h1>404</h1>
	</div>
</section>
<main class="main">
	<div class="container">
		<h2 class="error-404">Ooops, en error!</h2>
	</div>
</main>
<%- include('./partials/footer.ejs') %>