/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
	box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	font-family: 'Roboto', sans-serif;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

.header {
	height: 70px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
}

.container {
	width: 100%;
	margin: 0 auto;
	max-width: 100%;
	max-width: 1200px;
}

.header__inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header-modified {
	justify-content: center;
}

.header__logo img {
	max-width: 150px;
    width: 100%;
}
.main-menu .menu {
	display: flex;
}

.main-menu .menu li a{
     font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    display: inline-block;
    padding: 0.7rem 1.2rem;
    text-transform: capitalize;
    border-bottom: none;
	color: #000;
}
.main-menu .menu li a:hover{
text-decoration: underline;
}

.footer {
	background: rgb(47, 47, 47);
	padding: 2em 0;
	color: #fff;
}

.footer ul {
	margin-bottom: 50px;
}

.footer li {
	margin-bottom: 10px;
}

.footer a {
	text-decoration: underline;
	color: #00B950;
}

.footer a:hover{
text-decoration: none;
}

.footer p {
	color: #00B950;
	text-align: center;
}

.footer .social {
	display: flex;
	align-items: center;
}

.footer .social li {
	margin: 0 10px;
}

.footer .social li a {
	font-size: 25px;
}

.footer .social li a:hover{
opacity: 0.9;
}

.footer-contact {
	display: flex;
	justify-content: space-between;
}

.btn {
	font-size: 16px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 8px 20px;
	border-radius: 5px;
	font-family: "Roboto", Verdana, sans-serif;
	font-weight: 500;
	letter-spacing: 0.1px;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
	border: none;
	height: 40px;
	transition: all 0.3s ease-in-out;
}

.about {
	padding: 4.3rem 0;
	display: flex;
}

.about aside {
	width: 60%;
	padding: 20px;
}

.about-cover {
	text-align: center;
}

.about aside h2 {
	font-size: 40px;
	line-height: 50px;
	text-align: center;
	margin-bottom: 40px;
}

.about-text {
	line-height: 31px;
	font-size: 20px;
	margin-bottom: 40px;
}

.about-text p {
	margin-bottom: 15px;
}

.about-text p strong {
font-weight: 600;
display: block;
}

.home__cover {
	width: 40%;
	padding: 20px;
}

.home__cover img {
	max-width: 100%;
}


.btn--green {
	background-color: #00B950;
}

.btn--green:hover {
	background-color: #00D377;
	color: #000;
}

.form-field {
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}

.form-field input {
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 12px 15px;
	background: #ffffff;
	border: 1px solid black;
}

.form-field label {
	font-weight: 600;
	margin-bottom: 5px;
	font-size: 18px;
}

.input_field {
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1.3px solid;
}

.form-section {
	max-width: 500px;
	margin: 50px auto;
}

.form-section h1 {
	font-size: 22px;
	margin-bottom: 20px;
	text-align: center;
}
.reg-option {
text-align: center;
}
.reg-option p{
font-weight: 600;
margin-bottom: 20px;
}
.reg-option .registerBtn {
	color: #000;
	text-decoration: underline;
}
.reg-option .registerBtn:hover{
text-decoration: none;
}
.error-message,
.error-accounts {
margin-top: 20px;
text-align: center;
color: rgb(96, 37, 37);
}
.error-accounts {
text-align: left;
}

.userLink i {
font-size: 21px;
}

.user {
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
}

.user-photo {
	width: 40%;
	padding: 20px;
}

.user-photo img {
	max-width: 100%;
}

.user-about-info {
	width: 60%;
	padding: 20px;
}
#accountsInfo {
font-size: 20px;
}
#accountsInfo span,
#mainAccount span {
font-weight: 300;
color: #00B950;
}
#accountsInfo li,
#mainAccount li {
margin-bottom: 20px;
font-weight: 600;
}

.wrapp-account {
box-shadow: 0 0px 23px 0 rgb(0 0 0 / 9%);
background: #f9f9f9;
border-radius: 2px;
padding: 20px;
border-radius: 5px;
display: block;
margin-bottom: 20px;
margin-top: 20px;
}
#accountsInfo .account-info span,
#accountsInfo .account-info li {
color: #000;
}

.btn--pink {
	background-color: #ff4880;
}

.btn--pink:hover {
	background-color: #ffae00;
	color: #000;
}
.user-about-info h3 {
font-size: 22px;
margin-bottom: 10px;
}

#accountInfo {
font-size: 20px;
}

#accountInfo h1 {
font-size: 22px;
}